
params {
    data_folder   = '/users/project/encode_005982/EPIraction.Nextflow'
    tissues_index = 'EPIraction.tissues.data'
    samples_index = 'EPIraction.H3K27ac.data'
    regions       = 'EPIraction.regions.bed'
}

executor {
    name = 'crg'
    queueSize = 190
    pollInterval = '10 sec'
    queueStatInterval = '10 sec'
    submitRateLimit = '120/1min'
}

process {

    penv  = 'smp'

    queue = 'rg-el7'
    clusterOptions = '-P prj005982'

///////////
    withName: Regions_annotate {
	cpus     = 2
	memory   = 15.GB
	time     = '1h'
    }

    withName: Regions_normalize {
	cpus     = 4
	memory   = 31.GB
	time     = '1h'
    }

    withName: Regions_final {
	cpus     = 2
	memory   = 15.GB
	time     = '1h'
    }

///////////
    withName: Samples_activity {
	cpus     = 2
	memory   = 15.GB
	time     = '5h'
    }

    withName: Samples_merge {
	cpus     = 2
	memory   = 15.GB
	time     = '1h'
    }

///////////
    withName: Make_pairs {
	cpus     = 2
	memory   = 15.GB
	time     = '1h'
    }

///////////
    withName: HiC_consensus {
	cpus     = 6
	memory   = 47.GB
	time     = '4h'
	beforeScript = 'export _JAVA_OPTIONS=-Xmx20G'
    }

    withName: HiC_dump {
	cpus     = 3
	memory   = 32.GB
	time     = '4h'
	beforeScript = 'export _JAVA_OPTIONS=-Xmx15G'
    }

///////////
    withName: First_qc {
	cpus     = 1
	memory   = 5.GB
	time     = '1h'
    }

///////////
    withName: Contacts_tissues {
	cpus     = 2
	memory   = 15.GB
	time     = '1h'
    }
    withName: Contacts_merge {
	cpus     = 2
	memory   = 15.GB
	time     = '1h'
    }

///////////
    withName: Glmnet_expressed {
	cpus     = 2
	memory   = 15.GB
	time     = '1h'
    }

    withName: Glmnet_data {
	cpus     = 1
	memory   = 7.GB
	time     = '4h'
    }

    withName: Glmnet_run {
	cpus     = 1
	memory   = 7.GB
	time     = '5h'
    }

///////////
    withName: Report_pairs {
	cpus     = 2
	memory   = 15.GB
	time     = '1h'
    }
}
